// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
// Copyright (c) 2017 Icenowy Zheng <icenowy@aosc.xyz>
// Based on sun50i-a64-pine64.dts, which is:
//   Copyright (c) 2016 ARM Ltd.

#include "sun50i-a64.dtsi"
#include "sun50i-a64-cpu-opp.dtsi"

#include <dt-bindings/gpio/gpio.h>

/ {


	bat: battery {
			compatible = "simple-battery";
			over-voltage-threshold-microvolt = <4500000>;
			re-charge-voltage-microvolt = <3000000>;

			voltage-min-design-microvolt = <3000000>;
			voltage-max-design-microvolt = <4200000>;
			energy-full-design-microwatt-hours = <2795000>;
			charge-full-design-microamp-hours = <650000>;
			precharge-current-microamp = <130000>;
			precharge-upper-limit-microvolt = <3200000>;
			charge-term-current-microamp = <50000>;
			constant-charge-current-max-microamp = <450000>;
			constant-charge-voltage-max-microvolt = <4200000>;
			factory-internal-resistance-micro-ohms = <150000>;
			ocv-capacity-celsius = <20>;
			perso-dtc=<240183>;
			disable-temperature-sensor;
			ocv-capacity-table-0 =
				<4150000 100>,
				<4138141 99>,
				<4125369 98>,
				<4115335 97>,
				<4105300 96>,
				<4096178 95>,
				<4083406 94>,
				<4074284 93>,
				<4066073 92>,
				<4057863 91>,
				<4048741 90>,
				<4041443 89>,
				<4032320 88>,
				<4020461 87>,
				<4012251 86>,
				<4002216 85>,
				<3994918 84>,
				<3985796 83>,
				<3977586 82>,
				<3965727 81>,
				<3958428 80>,
				<3950218 79>,
				<3942920 78>,
				<3935622 77>,
				<3926500 76>,
				<3918290 75>,
				<3908255 74>,
				<3902782 73>,
				<3897308 72>,
				<3888186 71>,
				<3878151 70>,
				<3867204 69>,
				<3851696 68>,
				<3843486 67>,
				<3837100 66>,
				<3830714 65>,
				<3826153 64>,
				<3821592 63>,
				<3816118 62>,
				<3809733 61>,
				<3804259 60>,
				<3793312 59>,
				<3786014 58>,
				<3779629 57>,
				<3772331 56>,
				<3765945 55>,
				<3759559 54>,
				<3753173 53>,
				<3747700 52>,
				<3738578 51>,
				<3732192 50>,
				<3728543 49>,
				<3724894 48>,
				<3720333 47>,
				<3715771 46>,
				<3712122 45>,
				<3708473 44>,
				<3704824 43>,
				<3701176 42>,
				<3698439 41>,
				<3695702 40>,
				<3692053 39>,
				<3689316 38>,
				<3686580 37>,
				<3682931 36>,
				<3677457 35>,
				<3674720 34>,
				<3672896 33>,
				<3670159 32>,
				<3669247 31>,
				<3667422 30>,
				<3664686 29>,
				<3665598 28>,
				<3661949 27>,
				<3659212 26>,
				<3658300 25>,
				<3655563 24>,
				<3652827 23>,
				<3650090 22>,
				<3649178 21>,
				<3644616 20>,
				<3642792 19>,
				<3639143 18>,
				<3635494 17>,
				<3630933 16>,
				<3625459 15>,
				<3615424 14>,
				<3609951 13>,
				<3602653 12>,
				<3596267 11>,
				<3590794 10>,
				<3585320 9>,
				<3580759 8>,
				<3575286 7>,
				<3562514 6>,
				<3552480 5>,
				<3534235 4>,
				<3503218 3>,
				<3449396 2>,
				<3370031 1>,
				<3256000 0>;

  };
};

&codec_analog {
	cpvdd-supply = <&reg_eldo1>;
};

&cpu0 {
	cpu-supply = <&reg_dcdc2>;
};

&cpu1 {
	cpu-supply = <&reg_dcdc2>;
};

&cpu2 {
	cpu-supply = <&reg_dcdc2>;
};

&cpu3 {
	cpu-supply = <&reg_dcdc2>;
};

&mmc0 {
	pinctrl-names = "default";
	pinctrl-0 = <&mmc0_pins>;
	vmmc-supply = <&reg_dcdc1>;
	non-removable;
	disable-wp;
	bus-width = <4>;
	cd-gpios = <&pio 5 6 GPIO_ACTIVE_LOW>; /* PF6 */
	status = "okay";
};

&r_rsb {
	status = "okay";

	axp803: pmic@3a3 {
		compatible = "x-powers,axp803";
		reg = <0x3a3>;
		interrupt-parent = <&r_intc>;
		interrupts = <0 IRQ_TYPE_LEVEL_LOW>;
	};
};

&spi0  {
	status = "okay";

	flash@0 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "jedec,spi-nor";
		reg = <0>;
		spi-max-frequency = <40000000>;
	};
};

#include "axp803.dtsi"

&battery_power_supply {
	status = "okay";
	monitored-battery = <&bat>;
};

&usb_power_supply {
	status = "okay";
};

&reg_aldo2 {
	regulator-always-on;
	regulator-min-microvolt = <1800000>;
	regulator-max-microvolt = <3300000>;
	regulator-name = "vcc-pl";
};

&reg_aldo3 {
	regulator-always-on;
	regulator-min-microvolt = <3000000>;
	regulator-max-microvolt = <3000000>;
	regulator-name = "vcc-pll-avcc";
};

&reg_dcdc1 {
	regulator-always-on;
	regulator-min-microvolt = <3300000>;
	regulator-max-microvolt = <3300000>;
	regulator-name = "vcc-3v3";
};

&reg_dcdc2 {
	regulator-always-on;
	regulator-min-microvolt = <1040000>;
	regulator-max-microvolt = <1300000>;
	regulator-name = "vdd-cpux";
};

/* DCDC3 is polyphased with DCDC2 */

&reg_dcdc5 {
	regulator-always-on;
	regulator-min-microvolt = <1200000>;
	regulator-max-microvolt = <1200000>;
	regulator-name = "vcc-dram";
};

&reg_dcdc6 {
	regulator-always-on;
	regulator-min-microvolt = <1100000>;
	regulator-max-microvolt = <1100000>;
	regulator-name = "vdd-sys";
};

&reg_eldo1 {
	regulator-always-on;
	regulator-min-microvolt = <1800000>;
	regulator-max-microvolt = <1800000>;
	regulator-name = "vdd-1v8-lpddr";
};

&reg_fldo1 {
	regulator-min-microvolt = <1200000>;
	regulator-max-microvolt = <1200000>;
	regulator-name = "vcc-1v2-hsic";
};

/*
 * The A64 chip cannot work without this regulator off, although
 * it seems to be only driving the AR100 core.
 * Maybe we don't still know well about CPUs domain.
 */
&reg_fldo2 {
	regulator-always-on;
	regulator-min-microvolt = <1100000>;
	regulator-max-microvolt = <1100000>;
	regulator-name = "vdd-cpus";
};

&reg_rtc_ldo {
	regulator-name = "vcc-rtc";
};
